# Repo: https://github.com/baely/txn
# Ref: d5a3b167d4602a73338c00a9fff0c9984e0584c4

services:
  txn:
    image: registry.baileys.dev/txn:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.txn.rule=Host(`caffeine-api.baileys.dev`) || Host(`caffeine.baileys.app`) || Host(`baileyneeds.coffee`) || Host(`isbaileybutlerintheoffice.today`) || Host(`events.baileys.dev`)
      - traefik.http.services.txn.loadbalancer.server.port=8080
      - baileys.public.url="https://baileyneeds.coffee"
      - baileys.public.title="Caffeine Tracker"
      - baileys.public.description="Caffeine consumption based on location, electricity, and financial transactions"
    env_file: ".env"
    volumes:
      - txn-data:/data

volumes:
  txn-data:
